@font-face {
    font-family: "Hanken Grotesk";
    src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}
*
{
    font-family: "Hanken Grotesk";
}
:root
{
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --lavendar: hsl(241, 100%, 89%);
    --dark-blue: hsl(224, 30%, 27%);

}
.container
{
    display: flex;
    width: 640px;
    aspect-ratio: 4 / 3;
    align-self: center;
    justify-self: center;
    border-radius: 5%;
    box-shadow: 5px 5px 8px 8px var(--lavendar);
    margin-bottom: auto;
    margin-top: auto;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 98vh;
    box-sizing: border-box;
}
.left-section
{
    
    background-color: hsl(252, 100%, 67%);
    justify-content: space-between;
    width: 50%;
    align-items: center;
    color: var(--white);
    
}
.left-section p
{
    text-align: center;
    font: 8px;
}
.left-section h3
{
    font-size: 32px;
    margin: 0.1em;
}
.section-footer
{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 7%;
}
.circle
{
    background-color: hsla(256, 72%, 46%, 1);
    border-radius: 50%;
    width: 60%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circle h3
{
    font-size: 48px;
    margin: 0px;
}
.left-section, .right-section
{
    border-radius: 5%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.right-section
{
    justify-content: space-around;
    align-items: center;
}

.summary
{
    width: 95%;
    margin-bottom: 2%;
    height: 16%;
    padding: 1%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border-radius: 15px;
    text-align: right;
    padding-right: 5%;
}
.summary-section
{
    display: flex;
    align-items: center;
}
.summary-section img{
    margin-right: 4%;
}

.red
{
    background-color: hsla(0, 100%, 67%, 0.25);
}
.orange
{
    background-color: hsla(39, 100%, 56%, 0.25);
}
.teal
{
    background-color: hsla(166, 100%, 37%, 0.25);
}
.blue
{
    background-color: hsla(234, 85%, 45%, 0.25);
}
#continue
{
    border-radius: 24px;
    width: 95%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(224, 30%, 27%);
    color: var(--white);

}
#continue:hover{
    background-color: hsla(256, 72%, 46%, 0.75);
}
@media screen and (max-width: 600px) 
{
    .container
    {
        flex-direction: column;
        width: 90%;
        min-width: none;
        align-items: center;
        justify-content: flex-end;
    }
    .right-section, .left-section
    {
        width: 100%;
        box-sizing: border-box;
        height: 480px;
        margin-top: auto;
        margin-bottom: auto;
    }
}